* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Smythe", system-ui;
}
img {
  object-fit: cover;
}
/* Font */

/* Styling */
.container {
  max-width: 560px;
  width: 96%;
  margin: 0 auto;
  border: 0.4em solid #404040;
  border-top: 0;
  border-radius: 0 0 3em 3em;
  height: 75dvh;
  box-shadow: 0px 0px 24px 0px rgba(97, 97, 97, 1);
  background-color: rgb(254, 250, 245);
  overflow: scroll;
  position: relative;
}
.header {
  background: url("assets/ferks-guare-KEZdWfYD-ow-unsplash\ 1.png") no-repeat;
  background-size: cover;
}
.item {
  padding-bottom: 2em;
  margin-top: 2em;
  border-bottom: 2px solid #d2d2d2;
  display: flex;
}
.item-content {
  padding-left: 2em;
}
.icon {
  margin-left: auto;
  align-self: center;
  color: #454545;
  font-size: 2.5em;
  cursor: pointer;
  transition: transform 0.3s, text-shadow 0.3s;
}
.icon:hover {
  transform: scale(105%);
  text-shadow: 0 0 10px #a3a3a3;
}
.order-price {
  border-bottom: 2px solid #404040;
}
.section-two {
  position: sticky;
  max-width: 560px;
  width: 100%;
  bottom: 0%;
  margin: 0 auto;
  background-color: rgb(254, 250, 245);
  overflow: visible;
  box-shadow: 0px 0px 24px 0px rgba(97, 97, 97, 1);
  margin-top: 50px;
}
.form {
  box-shadow: 0px 0px 24px 0px rgba(97, 97, 97, 1);
  background-color: white;
  width: 400px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
}
.form input {
  border: 2px solid #b2b2b2;
  padding: 0.75em;
  outline: 0;
}
.container-for-p {
  width: 470px;
  margin: 0 auto;
}
.item-in-basket {
  cursor: pointer;
}
